*,*::after,*::before{
  margin: 0px; padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
  min-height: 100vh;
}
.container{
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 90vh;
  gap: 20px;
}
.container > div{
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.container > div > *{
  padding: 0 5px;
  font-size: 4rem;
  margin: 0 5px;
}
.container > button{
  display: block;
  color: black;
  background-color: white;
}
