@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  max-height: 120vh;
  /* background-color: linear-gradient(to top, #2786f3, #2b6a8d, #135f88); */
  /* background-color: linear-gradient(to top, #2786f3, #2b6a8d, #135f88); */
  /* background: linear-gradient(to top, #21295a, #7781c6); */
  /* background-image: url("./assets/images/bg.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: 120VW auto */
  background-color: #462b4b;
}

#root{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.center-div {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 9px;
}

.container {
  margin: 0;
  min-width: 100vw;
  min-height: 90vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
}

.container .index{
  z-index: 2;
}

.container div.counter {
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}

.container div.counter>* {
  padding: 0 5px;
  font-size: 3.5rem;
  margin: 0 5px;
}

.container>button {
  display: block;
  color: black;
  background-color: white;
}

.lottie{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0 !important;
  padding: 0px !important;
  opacity: 0.8;
}

.a-logo {
  z-index: 1;
}


.firework {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 0 !important;
  padding: 0px !important;
  opacity: 0.2;
}

.lottie * {
  margin: 0px !important;
  padding: 0px !important;
  /* background: linear-gradient(to right, #3489eb, #4fb2e8); */
}


.winner {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1rem !important;
  z-index: 1 !important;
}

.trophy {
  position: absolute;
  z-index: 0 !important;
}

.prize {
  object-fit: contain;
}